.bloques-container {
    padding: 20px;
}

.bloques-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.bloque {
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    cursor: pointer;
    transition: transform 0.3s, background-color 0.3s;
}

.bloque:hover {
    transform: scale(1.05);
}

.bloque.original {
    background-color: #f9f9f9;
    color: #333;
}

.bloque.completado {
    background-color: #4caf50;
    color: white;
}

.bloque.en-curso {
    background-color: #c480f7;
    color: white;
}

.bloque.fallido {
    background-color: #000;
    color: white;
}

.agregar-card {
    background-color: rgba(0, 0, 0, 0.1);
    color: #555;
    font-size: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px dashed #ccc;
    opacity: 0.7;
    transition: opacity 0.3s, transform 0.3s;
}

.agregar-card:hover {
    opacity: 1;
    transform: scale(1.05);
}

/* Modal */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    overflow-y: auto;
}

.modal-content {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 12px;
    width: 90%;
    max-width: 500px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
    animation: fadeIn 0.3s ease-out;
    font-family: 'Arial', sans-serif;
}

.modal-content h3 {
    font-size: 1.8em;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
    border-bottom: 2px solid #f0f0f0;
    padding-bottom: 10px;
}

.modal-buttons button {
    flex: 1;
    padding: 12px;
    border: none;
    border-radius: 6px;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.modal-buttons button:first-child {
    background-color: #4caf50;
    color: white;
}

.modal-buttons button:first-child:hover {
    background-color: #43a047;
    transform: scale(1.05);
}

.modal-buttons button:last-child {
    background-color: #e53935;
    color: white;
}

.modal-buttons button:last-child:hover {
    background-color: #d32f2f;
    transform: scale(1.05);
}
